/dist
/coverage
.next/
node_modules/
sdk-demo/
scripts/
.yarn/
.vscode/
.parcel-cache/
.github/
packages/**/dist/
packages/sdk/src/types/api.ts
packages/sdk/tests/
packages/sdk/jest.config.mjs
**/package.json
**/CHANGELOG.md
package.json
tsconfig.production.json
tsconfig.base.json
tsconfig.json
.yarnrc.yml
.prettierignore